{% extends "base.html" %}
{% block title %}Edit Debate{% endblock %}

{% block content %}
<h2>Edit Debate</h2>
<form method="post">
    Title: <input name="title" value="{{ debate.title }}"><br>
    Assignment Mode:
    <select name="assignment_mode">
        <option value="True random" {% if debate.assignment_mode == 'True random' %}selected{% endif %}>True random</option>
        <option value="Random" {% if debate.assignment_mode == 'Random' %}selected{% endif %}>Random</option>
        <option value="Skill based" {% if debate.assignment_mode == 'Skill based' %}selected{% endif %}>Skill based</option>
        <option value="ProAm" {% if debate.assignment_mode == 'ProAm' %}selected{% endif %}>ProAm</option>
    </select><br>
    <input type="submit" value="Save">
</form>
<a href="{{ url_for('admin.admin_dashboard') }}">Back</a>
{% endblock %}
